<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.modo.useraddressservice.dao.AddressDao">
    <!-- private int aid;// 地址id
    private String  addr;//地址
    private String linkman;// 联系人
    private String  tel;// 联系电话
    private int uid;//用户id
    private int type;//当前地址的类型-->
    <resultMap id="AddressMap" type="address">
        <id column="aid" property="aid"></id>
        <result column="addr" property="addr"></result>
        <result column="linkman" property="linkman"></result>
        <result column="tel" property="tel"></result>
        <result column="uid" property="uid"></result>
        <result column="type" property="type"></result>
    </resultMap>
    <!--getByuid-->
    <select id="getByuid" resultMap="AddressMap">
        select * from addrs where uid = #{uid} order by type
    </select>
    <select id="getBytype" resultMap="AddressMap">
        select * from addrs where uid = #{uid} and type = 1
    </select>
</mapper>